.input-area {
        border: 3px solid green;
}

#input-area, #sobji-input {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
}

#delete-btn, #sobji-add {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
}

@media screen and (min-width: 700px) {
        #delete-field {
                width: 75%;
        }
}

@media screen and (min-width: 800px) {
        #delete-field {
                width: 30%;
        }
}